<%


var imgurl = "/assets/Ember_Island_port.png"
  if(listing.id % 2 === 0) {
    imgurl = "/assets/southern-air-temple.jpg"
  }
 %>
<a href="<%= listing.href() %>">
  <div class="img-viewport">
    <div class="img-wrapper">
      <div class="img-inner">
        <img src="<%= listing.get('cover_photo_url') %>" alt="" />
      </div>
    </div>
    <div class="item-price">
      <%= listing.get('price') %> <span class='yuan'>yuan</span>
    </div>
  </div>
  <div class="item-info-panel">
    <h3><%= listing.escape('title') %></h3>
    <span class="muted"><%= listing.escape('address') %></span>
  </div>
</a>
