<div class="listings-container clearfix">
  <div class="row search-panel">
    <div class="row panel-section">
      <div class="col-md-2">
        Arrangements
      </div>
      <div class="col-md-10">
        <div class="col-sm-4 row-space-1-sm">
          <input
            id="checkin"
            type="text"
            class="datepicker"
            name="reservation[start_date]"
            value="<%= checkin %>"
            placeholder="Check In"
          >
        </div>

        <div class="col-sm-4 row-space-1-sm">
          <input
            id="checkout"
            type="text"
            class="datepicker"
            name="reservation[end_date]"
            value="<%= checkout %>"
            placeholder="Check Out"
          >
        </div>

        <div class="col-sm-4 row-space-1-sm">
          <select name="reservation[guests]" id="guestcount" placeholder="Guests">
            <% _.times(12, function (n) { %>
              <option
                value="<%= n+1 %>"
                <% if (guests == n+1) { %>
                  selected
                <% } %>
              ><%= n+1 %> <%= pluralize('Guest', n+1) %></option>
            <% }); %>
          </select>
        </div>

      </div>
    </div>
    <div class="row panel-section">
      <div class="col-lg-2 col-md-12">
        Price Range
      </div>
      <div class="col-lg-10 col-md-12">
        <div class="price-slider-wrap">
          <div id="price-range"></div>
          <div id="price-min"></div><div id="price-max"></div>
        </div>
      </div>
    </div>
  </div>
    <div class="listings-items clearfix">

    </div>
</div>
