<div class="cover-img-wrap">
  <div class="cover-img" style="background-image: url(<%= listing.escape('cover_photo_url') %>)">

  </div>
</div>

<div class="summary">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1><%= listing.escape('title') %></h1>
        <p><%= listing.escape('address') %></p>
      </div>
      <div class="col-lg-4">
        <!-- Reservation Form -->
        <div class="reservation">

        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="details">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="about">
          <h4>About This Listing</h4>
          <p>
            <%= listing.escape('description') %>
          </p>
        </div>

        <!-- The Details -->
        <hr>
        <div class="row detail-section">
          <div class="col-md-3">
            <span class="muted">The Details</span>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-6">
                <div>
                  Price: <strong><%= listing.escape('price') %> yuan</strong>
                </div>
                <div>
                  Bedrooms: <strong><%= listing.get('bedrooms') %></strong>
                </div>
                <div>
                  Beds: <strong><%= listing.escape('beds') %></strong>
                </div>
                <div>
                  Bathrooms: <strong><%= listing.escape('bathrooms') %></strong>
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  Home type: <strong><%= listing.escape('home_type') %></strong>
                </div>
                <div>
                  Accommodates: <strong><%= listing.escape('capacity') %></strong>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Amenities -->
        <hr>
        <div class="row detail-section">
          <div class="col-md-3">
            <span class="muted">Amenities</span>
          </div>
          <div class="col-md-9">
            <% if (listing.get('amenities')) { %>
              <% listing.get('amenities').forEach(function (amenity) { %>
                <div><%= amenity.name %> - <%= amenity.description %></div>
              <% }); %>
            <% } %>
          </div>
        </div>

        <!-- Photos -->
        <div class="detail-section listing-photos">

        </div>


      </div>



    </div>

  </div>
</div>
<hr>
<div class="reviews">

</div>
