<!DOCTYPE html>
<html>
<head>
  <title>LastAirBnb</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link
    href='http://fonts.googleapis.com/css?family=Karla:400,700'
    rel='stylesheet'
    type='text/css'
  >
  <link
    href='http://fonts.googleapis.com/css?family=Nunito:400,300'
    rel='stylesheet'
    type='text/css'
  >
  <link
    href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700'
    rel='stylesheet'
    type='text/css'
  >
</head>
<body>

<%= render 'shared/navbar' %>

<%= render 'shared/messages' %>

<%= yield %>

</body>
</html>
